body {
    background-image: url("Imagens/background.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.create-box {
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    text-align: center;
}

.create-box form{
	font-size: 2em;
	color: whitesmoke;

}

.create-box label{
}

.create-box a{
	text-decoration: none;
	font-size: 1em;
	text-align: center;
}

